* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0; /* Ensure no default margin */
    padding: 0; /* Ensure no default padding */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center; 
    font-family: Arial, sans-serif;
  }

  .home-page {
    position: relative;
    background-image: url('/images/image3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
   }

   /* Top Centered Text */
.centered-text {
  position: absolute;
  top: 20px; 
  width: 100%;
  text-align: center;
  color: #4b0082; /* Purple text */
}

.welcome-text {
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.explore-text {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* Quote Positioned in Clear Area */
.quote-text {
  position: absolute;
  top: 50px; 
  left: 30px; 
  max-width: 300px; 
  font-size: 1.2rem;
  font-style: italic;
  color:#2f4f4f; 
  background-color: rgba(255, 255, 255, 0.7); /* Light background for readability */
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

  
  
  
  

   
 
  
  